/*<body> Cor de fundo # 377254, cor de texto # FCD605, tamanho de fonte de 16px e fontes Verdana e Liberation.*/
body {
    font-family: Verdana;
    background-color: #377254;
    color: #FCD605;
    font-size: 16px;
}
/*<a>Sem sublinhado, cor de link #FFFF33 e link visitado #F3EDA3.*/
a:link {
    color: #FFFF33;
}

a:visited {
    color: #F3EDA3;
}

a {
    text-decoration: none;
}

ul {
    line-height: 200%;
}

nav ul {
    list-style-type: circle;
    color: #F3EDA3;
    margin-top: 30px;
}
/***************<ender>****************/
/*alinhado a direita, tamanho de fonte 16px, espaçamento entre as linhas (line-height) de 150% e elemento todo colado na direita da janela (float com valor right).*/
.ender {
    font-style: italic;
    text-align: right;
    text-decoration: none;
    font-size: 16px;
    line-height: 150%;
    float: right;
}
/***************<header>***************/
header {
    display: block;
    margin-bottom: 1px;
}
/**************<nav>***************/
nav {
    float: left;
    display: block;
    width: 20%;
}
/************<section>*****************/
section {
    display: block;
    width: 77%;
    float: right;
}
/***************<apres>****************/
/*Alinhamento de texto centralizado (center).*/
.apres {
    text-align: center;
}
/****************************Nova Página Bolas************************************/

/*Borda inferior solida e com 3px, margem inferior de 6px e espaçamento do conteúdo com a borda inferior da célula (padding-bottom) de 15px.*/
.imgLogo {
    border-bottom: 3px solid;
    margin-bottom: 6px;
    padding-bottom: 15px;
    width: 380px;
}


.produtos ol {
    line-height: 150%;
    margin-top: 10px;
    padding-left: 40px;
}
 
/****************************Nova Página Esportes************************************/

/********<tabInfo>*********/
/*Borda sólida e fina (DICA: border-collapse com valor collapse), margem superior de 6px, cor de fundo #FFFFBB, cor de texto #006600 e fontes arial e ubuntu*/
.tabinfo {
    border-collapse: collapse;
    margin-top: 6px;
    background-color: #FFFFBB;
    font-family: Arial;
    color: #006600;
   
}
/*Borda de 2px, sólida e de cor #000000. Espaçamento do conteúdo com a borda da célula (padding) variável (6px 12px 6px 12px).*/
td, th {
    border: 2px solid;
    border-color: #000000;
    padding: 6px 12px 6px 12px;
}
/*Cor de texto #FFFFFF, cor de fundo #0077BB, alinhamento vertical de texto no meio da célula (vertical-align com valor middle) e alinhamento horizontal de texto centralizado.*/
/********<linTH>*********/
.linTH {
    color: #FFFFFF;
    background-color: #0077BB;
    vertical-align: middle;
    text-align: center;
}
/*Cor de texto #006600, cor de fundo #AACC55 e alinhamento de texto a esquerda.*/
/********<colTH>*********/
.colTH {
    color: #006600;
    background-color: #AACC55;
    text-align: left;
}
/********<preco>*********/
/*Cor de texto #CC0000, texto em negrito (bold) e alinhamento vertical de texto no meio da célula (middle).*/
.preco {
    color: #CC0000;
    font-weight: bold;
    text-align: center;
}
/****************************Nova Página Cadastro************************************/

/*<fieldset> Margem variável (20px 10px 0px 10px).*/
fieldset {
    margin: 20px 10px 0px 10px;
}

/*colPri Label da primeira coluna grudado a esquerda do formulário (DICA: float com valor left e display com valor block), com largura de 90px.*/

.colPri {
    float: left;
    display: block;
    width: 90px;
    margin-top:3px;
}
/*inpGrande Input de tamanho grande com largura de 370px.*/
#inpGrande {
    width: 370px;
    
}

#inpRua {
    width: 370px;
    margin-top: 5px;
}

#inpNome {
    width: 370px;
    margin-top: 5px;
}

/*impMedio Input de tamanho médio com largura de 120px.*/
#impMedio {
    width: 120px;
    
}

#impTel {
    width: 120px;
    margin-top: 5px;
}

#impCel {
    width: 120px;
    margin-top: 5px;
}

#impConfirme {
    width: 120px;
    margin-top: 5px;
}


/*elemDir Elemento da última coluna grudado a direita do formulário (DICA: float com valor right e display com valor block).*/

.elemDir {
    padding-left: 32px;
}

.formLinha {
    width: 514px;
    margin-bottom: 6px;
}

.end {
    margin-top: 50px;
}

.cel {
    padding-left: 49px;
}

/*fsEsq Fieldset posicionado em linha e grudado na borda esquerda (DICA: float com valor left e display com valor inline), margem 0px.*/
.fsEsq {
    float: left;
    display: inline;
    margin: 0px;
}
/*numDD Input numérico de dois dígitos com largura de 30px.*/
#numDD {
    width: 30px;
}

/*numQDInput numérico de quatro dígitos com largura de 50px.*/
#numQD {
    width: 50px;
}

/*fsDir Fieldset posicionado em linha e grudado na borda direita (DICA: float com valor right e display com valor inline) , margem 0px.*/
.fsDir {
    float: right;
    display: inline;
    margin: 0px;
}

.botoes {
    margin-left: 378px;
}
/****************************Nova Página Compras************************************/
#inpEmail {
    width: 200px;
}

.compras {
    width: 600px;
    margin-bottom: 6px;
    float: left;
}

.colPriCompras {
    float: left;
    display: block;
    width: 86px;
}

.fsEsqCompras {
    float: left;
    display: inline;
    margin-left: 0px;
    width: 280px;
    height: 0px auto;
}

#fsDirCompras {
    float: right;
    display: inline;
    background-color: #dedbdb;
    height: 200px;
}

#senha {
    width: 120px;
}

.compras h4 {
    font-style: italic;
    font-size: 15px;
    margin-top: 5px;
}

#cNumero {
    width: 200px;
}

.bsBand {
    float: left;
    display: block;
    margin: 0px;
}

.identificacao {
    margin-top: 70px;
}

.nMro {
    margin-top: 15px;
    float: left;
}

#cMro {
    margin-top: 15px;
    width: 192px;
    margin-left: 12px;
}

.tot {
    margin-top: 20px;
    float: left;
}

#cTot {
    width: 147px;
    float: left;
    margin-top: 20px;
    margin-left: 8px;
    background-color: #dedbdb;
}

.compras p {
    font-weight: bold;
}

.bots {
    padding-left: 463px;
}

#bBotoes {
    margin-top: 15px;
}
